<div class="container">
  <div>
    <h1 class="font-weight-light">JACQUELYN SPENCE</h1>
  </div>
  <div class="navbar navbar-light">
    <%= link_to 'HOME', root_path, class: "navbar-text" %>
    <%= link_to 'BIO', bio_path, class: "navbar-text" %>
    <%= link_to 'WORK', work_path, class: "navbar-text" %>
    <%= link_to 'CONTACT', contact_path, class: "navbar-text" %>
    <%= link_to 'AWARDS', awards_path, class: "navbar-text" %>
  </div>
</div>